@font-face {
  font-family: "RedHatDisplay600";
  src: url("../fonts/RedHatDisplay-SemiBold.woff2") format("woff2"), url("../fonts/RedHatDisplay-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RedHatDisplay500";
  src: url("../fonts/RedHatDisplay-Medium.woff2") format("woff2"), url("../fonts/RedHatDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RedHatDisplay400";
  src: url("../fonts/RedHatDisplay-Regular.woff2") format("woff2"), url("../fonts/RedHatDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato600";
  src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

ul, ol {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: url(../images/cursor.svg), auto;
}

body {
  font: 16px/26px "Lato", sans-serif;
  background: #FFF;
}

main {
  width: 1440px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  main {
    width: 768px;
  }
}
@media screen and (max-width: 767px) {
  main {
    width: 320px;
  }
}

.container {
  padding: 0 35px;
  width: 1240px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .container {
    width: 768px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 320px;
    padding: 0 10px;
  }
}

.section-banner {
  margin: 0 auto 90px;
  width: 1440px;
  position: relative;
}
.section-banner h1 {
  position: absolute;
  top: 100px;
  left: 135px;
  font: 48px/64px "RedHatDisplay600", sans-serif;
  width: 770px;
}
@media screen and (max-width: 1200px) {
  .section-banner {
    width: 768px;
    margin-bottom: 70px;
  }
  .section-banner h1 {
    top: 30px;
    left: 34px;
    font: 36px/50px "RedHatDisplay600", sans-serif;
    width: 586px;
  }
}
@media screen and (max-width: 767px) {
  .section-banner {
    width: 320px;
  }
  .section-banner h1 {
    top: 70px;
    left: 10px;
    font: 30px/50px "RedHatDisplay600", sans-serif;
    width: 300px;
  }
}

.section-blog {
  margin-bottom: 90px;
}
.section-blog h2 {
  font: 48px/64px "RedHatDisplay400", sans-serif;
  letter-spacing: 0.05em;
  margin-bottom: 50px;
}
.section-blog .section-blog__carts {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.section-blog .section-blog__carts .section-blog__cart {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.section-blog .section-blog__carts .section-blog__cart .section-blog__cart--info .sub-title {
  font: 16px/27px "Lato", sans-serif;
  letter-spacing: 0.1em;
  color: #7B7B7B;
  margin-bottom: 30px;
}
.section-blog .section-blog__carts .section-blog__cart .section-blog__cart--info h3 {
  font: 23px/38px "RedHatDisplay500", sans-serif;
  letter-spacing: 0.1em;
  margin-bottom: 15px;
  line-height: 166%;
}
.section-blog .section-blog__carts .section-blog__cart .section-blog__cart--info .date {
  font: 16px/16px "Lato", sans-serif;
  color: #7B7B7B;
  margin-bottom: 50px;
}
.section-blog .section-blog__carts .section-blog__cart .section-blog__cart--info .text-cart {
  letter-spacing: 0.05em;
  font: 16px/16px "Lato", sans-serif;
  line-height: 166%;
  color: #565656;
}
.section-blog .section-blog__carts .section-blog__cart:first-child .section-blog__cart--info {
  padding-right: 120px;
}
.section-blog .section-blog__carts .section-blog__cart:last-child .section-blog__cart--info {
  padding-left: 120px;
}
@media (max-width: 1200px) {
  .section-blog .section-blog__carts .section-blog__cart {
    gap: 20px;
  }
  .section-blog .section-blog__carts .section-blog__cart:first-child .section-blog__cart--info {
    padding-right: 0px;
  }
  .section-blog .section-blog__carts .section-blog__cart:last-child .section-blog__cart--info {
    padding-left: 0px;
  }
  .section-blog .section-blog__carts .section-blog__cart .text-cart {
    width: 340px;
  }
}
@media screen and (max-width: 767px) {
  .section-blog .section-blog__carts .section-blog__cart {
    display: flex;
  }
  .section-blog .section-blog__carts .section-blog__cart:first-child {
    flex-direction: column-reverse;
  }
  .section-blog .section-blog__carts .section-blog__cart:first-child .section-blog__cart--info {
    padding-right: 0px;
  }
  .section-blog .section-blog__carts .section-blog__cart:last-child {
    flex-direction: column;
  }
  .section-blog .section-blog__carts .section-blog__cart:last-child .section-blog__cart--info {
    padding-left: 0px;
  }
  .section-blog .section-blog__carts .section-blog__cart .section-blog__cart--info {
    width: 300px;
  }
  .section-blog .section-blog__carts .section-blog__cart .section-blog__cart--info .text-cart {
    width: 300px;
  }
  .section-blog .section-blog__carts .section-blog__cart .section-blog__cart--info .text-cart a {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .section-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
  }
  .section-blog h2 {
    width: 105px;
  }
}

.section-latest {
  margin-bottom: 90px;
}
.section-latest .section-latest__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.section-latest .section-latest__title h3 {
  font-family: "RedHatDisplay600", sans-serif;
  font-size: 28px;
  line-height: 166%;
  letter-spacing: 0.1em;
}
.section-latest .section-latest__title .section-latest__title--all {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
}
@media screen and (max-width: 767px) {
  .section-latest .section-latest__title {
    flex-direction: column;
    margin-bottom: 30px;
  }
}
.section-latest .section-latest__cards {
  display: flex;
  justify-content: space-between;
}
.section-latest .section-latest__cards .section-latest__card {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 370px;
}
.section-latest .section-latest__cards .section-latest__card .section-latest__card--info h4 {
  font-family: "RedHatDisplay500", sans-serif;
  font-size: 22px;
  line-height: 166%;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}
.section-latest .section-latest__cards .section-latest__card .section-latest__card--info .section-latest__card--help {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}
.section-latest .section-latest__cards .section-latest__card .section-latest__card--info .section-latest__card--help .topic, .section-latest .section-latest__cards .section-latest__card .section-latest__card--info .section-latest__card--help .date {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
}
.section-latest .section-latest__cards .section-latest__card .section-latest__card--info .text-card {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.05em;
  color: #565656;
}
@media (max-width: 1200px) {
  .section-latest .section-latest__cards {
    flex-direction: column;
    gap: 30px;
  }
  .section-latest .section-latest__cards .section-latest__card {
    display: flex;
    flex-direction: row;
    width: 700px;
    gap: 20px;
  }
  .section-latest .section-latest__cards .section-latest__card:nth-child(even) {
    flex-direction: row-reverse;
  }
}
@media screen and (max-width: 767px) {
  .section-latest .section-latest__cards {
    gap: 50px;
  }
  .section-latest .section-latest__cards .section-latest__card {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  .section-latest .section-latest__cards .section-latest__card:nth-child(even) {
    flex-direction: column;
  }
  .section-latest .section-latest__cards .section-latest__card .section-latest__card--info .section-latest__card--help .topic, .section-latest .section-latest__cards .section-latest__card .section-latest__card--info .section-latest__card--help .date {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #7B7B7B;
  }
}
@media (max-width: 1200px) {
  .section-latest {
    margin-bottom: 70px;
  }
}

.section-most {
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
}
.section-most .section-most__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.section-most .section-most__title h3 {
  font-family: "RedHatDisplay600", sans-serif;
  font-size: 28px;
  line-height: 166%;
  letter-spacing: 0.1em;
}
.section-most .section-most__title .section-most__title--all {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
}
@media screen and (max-width: 767px) {
  .section-most .section-most__title {
    flex-direction: column;
    margin-bottom: 30px;
  }
}
.section-most .section-most__cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}
.section-most .section-most__cards .section-most__card {
  display: flex;
  flex-direction: column;
  width: 570px;
  gap: 20px;
}
.section-most .section-most__cards .section-most__card .section-most__card--info h4 {
  font-family: "RedHatDisplay500", sans-serif;
  font-size: 22px;
  line-height: 166%;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}
.section-most .section-most__cards .section-most__card .section-most__card--info .section-most__card--help {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}
.section-most .section-most__cards .section-most__card .section-most__card--info .section-most__card--help .topic, .section-most .section-most__cards .section-most__card .section-most__card--info .section-most__card--help .date {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
}
.section-most .section-most__cards .section-most__card .section-most__card--info .text-card {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.05em;
  color: #565656;
}
@media (max-width: 1200px) {
  .section-most .section-most__cards {
    flex-direction: row;
    gap: 30px;
    margin-bottom: 65px;
  }
  .section-most .section-most__cards .section-most__card {
    display: flex;
    flex-direction: column;
    width: 700px;
    gap: 20px;
  }
}
@media screen and (max-width: 767px) {
  .section-most .section-most__cards {
    flex-direction: column;
  }
  .section-most .section-most__cards .section-most__card {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  .section-most .section-most__cards .section-most__card .section-most__card--info .section-most__card--help .topic, .section-most .section-most__cards .section-most__card .section-most__card--info .section-most__card--help .date {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #7B7B7B;
  }
}
.section-most button {
  width: 180px;
  height: 46px;
  background: #565656;
  color: #FFF;
  font-family: "Lato600", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .section-most {
    margin-bottom: 70px;
  }
}

.section-info {
  margin-bottom: 90px;
}
.section-info .section-info__cards {
  display: flex;
  justify-content: space-between;
}
.section-info .section-info__cards .section-info__card {
  width: 470px;
}
.section-info .section-info__cards .section-info__card .title {
  font-family: "RedHatDisplay400", sans-serif;
  font-size: 23px;
  line-height: 166%;
  letter-spacing: 0.1em;
}
.section-info .section-info__cards .section-info__card .text {
  font-family: "Lato", sans-serif;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #565656;
}
@media (max-width: 1200px) {
  .section-info {
    margin-bottom: 70px;
  }
  .section-info .section-info__cards {
    flex-direction: column;
    gap: 50px;
  }
  .section-info .section-info__cards .section-info__card {
    width: 100%;
  }
  .section-info .section-info__cards .section-info__card .text {
    text-align: end;
  }
}
@media screen and (max-width: 767px) {
  .section-info .section-info__cards {
    gap: 35px;
  }
  .section-info .section-info__cards .section-info__card .text {
    text-align: left;
  }
}

footer {
  width: 100%;
  height: 300px;
  background: #F4F4F4;
  padding-top: 70px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .footer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1170px;
  margin-bottom: 25px;
}
footer .footer-info .footer-info__contacts .title {
  font-family: "RedHatDisplay400", sans-serif;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  margin-bottom: 30px;
}
footer .footer-info .footer-info__contacts .phone, footer .footer-info .footer-info__contacts .email {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
}
footer .footer-info .footer-info__contacts .phone {
  margin-bottom: 15px;
}
footer .footer-info .footer-info__socials {
  height: 50px;
  display: flex;
  gap: 20px;
}
footer .footer-info .footer-info__socials .footer-info__card {
  width: 50px;
  height: 50px;
  border: 1px solid #565656;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
footer .footer-info .footer-info__socials .footer-info__card svg {
  fill: #565656;
}
footer .footer-info .footer-info__socials .footer-info__card:hover {
  background-color: #565656;
}
footer .footer-info .footer-info__socials .footer-info__card:hover svg {
  fill: #FFF;
}
footer .footer-info .footer-info__socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
footer .footer-info .footer-info__socials a:hover {
  background: #565656;
}
footer .footer-info .footer-info__socials a svg:hover {
  fill: #FFF;
}
@media (max-width: 1200px) {
  footer .footer-info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 700px;
    margin-bottom: 50px;
  }
  footer .footer-info .footer-info__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .footer-info .footer-info__contacts .title {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  footer .footer-info {
    width: 320px;
  }
  footer .footer-info .footer-info__contacts .title {
    font-family: "RedHatDisplay400", sans-serif;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0.05em;
  }
  footer .footer-info .footer-info__contacts .phone, footer .footer-info .footer-info__contacts .email {
    font-size: 18px;
    line-height: 166%;
    text-align: center;
  }
}
footer .footer-copyright {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 166%;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 767px) {
  footer .footer-copyright {
    width: 320px;
  }
}
@media (max-width: 1200px) {
  footer {
    height: 410px;
    padding: 50px 0;
  }
}

/*# sourceMappingURL=style.css.map */
